{% extends 'base.html.twig' %}

{% block title %}Edit Loto{% endblock %}

{% block body %}

<section class="section" id="edit-loto">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-half is-offset-one-quarter">
                <h1 class="title">Modifier</h1>
            </div>

            <div class="column is-half is-offset-one-quarter">
                {{ include('loto/_form.html.twig', {'button_label': 'Update'}) }}
            </div>

            <div class="column is-half is-offset-one-quarter">
                <a href="{{ path('loto_index') }}" class="button is-info">Retour à la liste</a>
            </div>

            <div class="column is-half is-offset-one-quarter">
                {{ include('loto/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
